<ngForm #sampleForm [ngStyle]="{'font-size': '2.4vh'}">
    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.display]="'block'" [style.float]="'center'">
        <mat-select style="text-align: center;" placeholder="Sample Type" name="SampleType" [(ngModel)]="SampleType" tabindex="1">
            <mat-option style="font-size: 2.1vh;" *ngFor="let sample of SampleTypes" [value]="sample">
                {{ sample }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.display]="'block'"
                    [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="7" color="primary" (keydown)="validateNumber($event)"
               placeholder="Animal Number" tabindex="2"/>
    </mat-form-field>
    <mat-form-field *ngIf="SampleType == 'Monkey' || SampleType == 'Human'" [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.display]="'block'"
                    [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="50" color="primary"
               placeholder="Name"/>
    </mat-form-field>

    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.display]="'block'" [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="3" color="primary" (keydown)="validateNumber($event)"
               placeholder="Age In Months" tabindex="3"/>
    </mat-form-field>

    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.display]="'block'" [style.float]="'center'">
        <input style="text-align: center;" matInput [matDatepicker]="picker" placeholder="Collection Date" tabindex="4">
        <!-- (dateChange)="SelectedTime=$event.value" -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div [ngStyle.lt-md]="{'width':'35vw'}" style="margin: auto; width: 20vw;" [style.float]="'center'">
        <button mat-button color="primary">Submit</button>
    </div>
</ngForm>