<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" mode="over">
        My Menu
    </mat-sidenav>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="sidenav.open()">
            Open sidenav
        </button>
        <p #test>Form</p>
        <p>Current count:
            <strong>{{ currentCount }}</strong>
        </p>
        <button class="aButton" (click)="incrementCounter(test)" mat-button color="primary">Increment</button>
        <span>Rora being bad
            <mat-slide-toggle [(ngModel)]="checked">Rora is being cute!</mat-slide-toggle>
        </span>
        <h2>{{Number}}</h2>
    </div>
    <div>{{windowSize}}</div>
    <div fxFlex class="fxClass-all" ngClass.xs="fxClass-xs" [ngClass.sm]="{'fxClass-sm': hasStyle}" [ngClass.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}"
    [ngClass.lg]="['fxClass-lg', 'fxClass-lg2']">
    This is something
</div>

<div *ngIf="media.isActive('xs')">
    This content is only shown on Mobile devices
 </div>
 <footer>
        Current state: {{state }}
 </footer>
</mat-sidenav-container>
