<div>
        <p [myHidden] = 'checked' #test>Form</p>
        <span>{{test.innerHTML}}</span>
        <p>Current count:
            <strong>{{ currentCount }}</strong>
        </p>
        <button class="aButton" (click)="incrementCounter($event)" mat-button color="primary">Increment</button>
        <span [class.red]="!checked" >Rora being bad!
            <mat-slide-toggle [style.color]="checked ? 'gold' : 'white' " [(ngModel)]="checked"  >Rora is being cute!</mat-slide-toggle>
        </span>
    <!-- <div fxFlex class="fxClass-all" ngClass.xs="fxClass-xs" [ngClass.sm]="{'fxClass-sm': hasStyle}" [ngClass.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}"
        [ngClass.lg]="['fxClass-lg', 'fxClass-lg2']">
        This is something
    </div>

    <div *ngIf="media.isActive('xs')">
        This content is only shown on Mobile devices
    </div>
    <footer>
        Current state: {{state }}
    </footer>
    <div [ngStyle.md]="{color:'blue'}" [ngStyle.sm]="{'font-size': '16px', color: '#a63db8', 'text-align': 'center'}">
        Test
    </div> -->
</div>