################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SMS.Test/bin/Debug/netcoreapp2.0
