<div style="margin-bottom:3%;" fxShow.lt-sm="false" class="toolBarContainer" #links>
    <mat-toolbar color="primary">
        <span class="{{navLink.ItemClasses.join(' ')}}" *ngFor="let navLink of NavLinks">
            <a class="{{navLink.AnchorClasses.join(' ')}}" [routerLink]="navLink.Link">
                <span>
                    <mat-icon>{{navLink.Icon}}</mat-icon>
                    <span>{{navLink.LinkText}}</span>
                </span>
            </a>
        </span>
    </mat-toolbar>
</div>

<router-outlet fxShow.lt-sm="false"></router-outlet>

<mat-sidenav-container fxShow.lt-sm="true">
    <mat-sidenav #sidenav mode="over">
        <button mat-icon-button (click)="sidenav.close()">
            <mat-icon aria-label="Menu Icon">view_headline</mat-icon>
        </button>
        <button type="button" mat-button (click)="sidenav.open()">
        </button>
        <div style="margin-left:10%; margin-top:5%; margin-bottom:8%;
        " class="{{navLink.ItemClasses.join(' ')}}" *ngFor="let navLink of NavLinks">
            <a class="{{navLink.AnchorClasses.join(' ')}}" [routerLink]="navLink.Link">
                <span>
                    <mat-icon>{{navLink.Icon}}</mat-icon>
                    <span>{{navLink.LinkText}}</span>
                </span>
            </a>
        </div>
    </mat-sidenav>
    <div [ngStyle.lt-xl]="{paddingBottom:'6vh'}"  [ngStyle.lt-md]="{paddingBottom:'12vh'}" [ngStyle.xl]="{paddingBottom:'6vh'}" [ngStyle.md]="{paddingBottom:'9vh'}" >
    <mat-toolbar class="toolBarContainer" color="primary">
        <button type="button" mat-icon-button (click)="sidenav.open()">
            <mat-icon aria-label="Menu Icon">view_headline</mat-icon>
        </button>
    </mat-toolbar>
</div>
    <router-outlet></router-outlet>
</mat-sidenav-container>