<div fxShow.lt-md="false" class="toolBarContainer" #links>
    <mat-toolbar color="primary">
        <span class="{{navLink.ItemClasses.join(' ')}}" *ngFor="let navLink of NavLinks">
            <a class="{{navLink.AnchorClasses.join(' ')}}" [routerLink]="navLink.Link">
                <span>
                    <mat-icon>{{navLink.Icon}}</mat-icon>
                    <span>{{navLink.LinkText}}</span>
                </span>
            </a>
        </span>
    </mat-toolbar>
</div>

<router-outlet fxShow.lt-md="false"></router-outlet>
<br/>

<mat-sidenav-container fxShow.lt-md="true">
    <mat-sidenav #sidenav mode="over">
        <button mat-icon-button (click)="sidenav.close()">
            <mat-icon aria-label="Menu Icon">view_headline</mat-icon>
        </button>
        <button type="button" mat-button (click)="sidenav.open()">
        </button>
        <div style="margin-left:10%; margin-top:5%; margin-bottom:8%;
        " class="{{navLink.ItemClasses.join(' ')}}" *ngFor="let navLink of NavLinks">
            <a class="{{navLink.AnchorClasses.join(' ')}}" [routerLink]="navLink.Link">
                <span>
                    <mat-icon>{{navLink.Icon}}</mat-icon>
                    <span>{{navLink.LinkText}}</span>
                </span>
            </a>
        </div>
    </mat-sidenav>

    <div class="toolBarContainer" [ngStyle.xl]="{paddingBottom:'8vh'}" [ngStyle.lg]="{paddingBottom:'8vh'}" [ngStyle.xs]="{paddingBottom:'10vh'}"
        [ngStyle]="{paddingBottom:'8vh'}" [ngStyle.md]="{paddingBottom:'9vh'}">
        <mat-toolbar color="primary">
            <button type="button" mat-icon-button (click)="sidenav.open()">
                <mat-icon aria-label="Menu Icon">view_headline</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
    <br/>

</mat-sidenav-container>