<h1>Weather forecast</h1>

<p *ngIf="!forecasts">
    <mat-spinner></mat-spinner>
</p>

<table class='table' *ngIf="forecasts"  #magic>
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted | date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary | titleCase}}</td>
        </tr>
    </tbody>
</table>
<mat-chip color="accent" selected="true">Accent color!</mat-chip>
<mat-chip-list #t>
    <mat-chip color="primary" selected="true">Primary</mat-chip>
    <mat-chip color="accent" selected="true">Accent</mat-chip>
    <mat-chip color="warn" selected="true">Warn</mat-chip>
    <mat-chip color="secondary" selected="true">Secondary</mat-chip>
    <mat-chip color="danger" selected="true">Danger</mat-chip>
</mat-chip-list>
<mat-form-field>
    <input matInput [matDatepicker]="picker"placeholder="Choose a date" (dateChange)="SelectedTime=$event.value" (dateChange)="onChange($event)">
    <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button (click)="send()" mat-button color="primary">Test</button>