@{
    ViewData["Title"] = "Home Page";
}

<app>
    <!-- <div class="spinner"></div> -->
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</app>

@section scripts {
    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/main-client.js"></script>
    // <script src="https://use.fontawesome.com/712b0620e0.js" async></script>
    @*    <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" async></script>*@
}