<ngForm #sampleForm [ngStyle]="{'font-size': '2.4vh'}">
    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style=" width:20vw; margin:auto;" [style.display]="'block'" [style.float]="'center'">
        <mat-select placeholder="Animal Type" name="AnimalType"  [(ngModel)]="AnimalType">
            <mat-option *ngFor="let animal of Animals" [value]="animal">
                {{ animal }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="width:20vw; margin:auto;" [style.display]="'block'"
        [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="7" color="primary" (keydown)="validateNumber($event)"
            placeholder="Animal Number" />
    </mat-form-field>
    <mat-form-field *ngIf="AnimalType == 'Monkey' || AnimalType == 'Human'" [ngStyle.lt-md]="{'width':'35vw'}" style="width:20vw; margin:auto;" [style.display]="'block'"
        [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="50" color="primary"
            placeholder="Name" />
    </mat-form-field>

    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="width:20vw; margin:auto;" [style.display]="'block'" [style.float]="'center'">
        <input style="text-align: center;" matInput type="text" [maxLength]="3" color="primary" (keydown)="validateNumber($event)"
            placeholder="Age In Months" />
    </mat-form-field>

    <mat-form-field [ngStyle.lt-md]="{'width':'35vw'}" style="width:20vw; margin:auto;" [style.display]="'block'" [style.float]="'center'">
        <input style="text-align: center;" matInput [matDatepicker]="picker" placeholder="Collection Date" (dateChange)="SelectedTime=$event.value">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div [ngStyle.lt-md]="{'width':'35vw'}" style="width:20vw; margin:auto;" [style.float]="'center'">
        <button mat-button color="primary">Submit</button>
    </div>
</ngForm>