.aButton {  
    border-radius: 1px;
}

.red{
    color:rgba(245, 10, 10, 0.897);
}

.snackBar {
    background-color: purple !important;
    color: rgb(233, 196, 34) !important;
  }

  .test {
    background-color: purple !important;
    color: rgb(233, 196, 34);
  }