.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.mat-table {
    overflow: auto;
}

.test{
    background-color: purple !important;
}

/*snack-bar-container.success-snackbar {*/
    /*background-color: red !important;*/
    /*color: red !important;*/
/*}*/

.addButton{
    float:left;
    position: fixed;
}

.fill-remaining-space {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}